.footer
    padding: 6.5rem 0
    background-color: $grey
    font-size: 1.6rem
    &__content
        display: flex
        justify-content: space-between
    &__copy
        color: $white
        span
            text-transform: uppercase
            color: $white
            
@media ( max-width: 640px )
    .footer
        padding: 4rem 0
        // font-size: 1.6rem
        &__content
            display: grid
            grid-template-columns: 1fr
        &__copy
            grid-row: 1 / 2